* {
    padding: 0;
    margin: 0;
}


.container {
    background-color: rgba(93, 108, 247, 0.767);
    width: 100%;
    display: flex;
    flex-direction: column;
}


body {
    background-color: black;
    color: white;
    
}


.lista {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: rgb(177, 73, 209);
    margin: 2%;
    border-radius: 20px;
    gap: 2%;
    list-style: none;
    font-size: 25px;
    border: solid white;
    width: 55%;
    
 
   
}

img {
    width: 250px;
    padding: 40px;
    border-radius: 60px;
}



.divengloba {

}

#englobaprodutos {}

li {
  padding: 5px;
  
}


button {
    border-radius: 15px;
    background-color: rgb(97, 97, 226);
    color: white;
    width: 180px;
    height: 30px;
    border: solid white;
    cursor: pointer;
    margin-left: 40px;
  
 
    
 
}

button:hover{
    background-color: rgb(71, 71, 121);
    
}

.move{
    padding-left: 40px;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}